* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* Navbar */
nav {
    background-color: #e23744;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Header */
.header {
    background-color: #e23744;
    color: white;
    padding: 60px;
    text-align: center;
}

/* Content */
.container {
    padding: 40px;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 15px auto;
    width: 60%;
border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}